/*---------------General*/

body {
    background-color: rgb(17, 16, 16);
    color: floralwhite;
    font-family: 'Jura', serif;
}

p {
    text-align: justify;
}

h2, h3, h4 {
    text-align: center;
    color: firebrick;
}

.hyperlink {
    color: firebrick;
}

.hyperlink:hover {
    color: firebrick;
}

#sketchfab-media, #facebook-media, #youtube-media, #twitch-media, .embed-video {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.container-fluid {
    margin: 0px;
}

.double-tour {
    margin-top: 20px;
}


/*---------------Header*/

.dropdown-item {
    background-color: dimgray;
    color: floralwhite;
}

.dropdown-menu {
    background-color: dimgray;
    
}

ul li {
    padding: 0px;
}

#nav li {
    background-color: dimgray;
    text-align: center;
    padding: 0px;
}

.nav-link {
    color: floralwhite;
}

.you-are-here {
    background-color: firebrick;
    color: floralwhite;
    font-weight: bold; 
}

#header-logo {
    font-family: 'Monoton', cursive;
    text-align: center;
    color: firebrick;
    margin-bottom: 0px;
    padding: 2%;
    font-size: 10vh;
}

header {
    margin-bottom: 3%;
}

#nav {
    border-bottom: 0px;
}

.nav-item a:hover  {
    color: black; 
}

.nav-item-dropdown a:hover {
    color: black;
}

/*---------------Index page*/

.index-container .col-md-6 {
    margin-bottom: 10px;
}

.imglist a {
    width: 200px;
}


#facebook-video {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

form input {
    display: block;
}

.signup-form {
    position: relative;
    float: left;
}

.follow-icons a {
    color: firebrick;
    padding-right: 10px;
}

.fa {
     padding-right: 5px;
}

.index-container p {
    text-align: justify;
}



/*---------------Media page*/

h2, h3 {
    text-align: center;
}

.media-container .col-md-6 {
    margin-bottom: 10px;
}


/*---------------The Game page*/


#thegame h2 {
    text-decoration: underline solid;
}

/*---------------tournaments page*/

.MM20-winners span {
    text-decoration: underline solid;
}

#masters {
    margin-bottom: 20px;
}

/*---------------Feydakin*/

#feydakin-main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("images/jeremy-bishop1unsplash.jpg");
    background-position: center;
    background-size: cover;
}

#header-logo-feydakin {
    font-family: 'Audiowide', sans-serif;
    text-align: center;
    color: firebrick;
    margin-bottom: 0px;
    padding: 2%;
    font-size: 10vh;
}

#feydakin-main {
    font-family: 'Audiowide', 'Franklin Gothic Medium', Arial, sans-serif;
}

#feydakin-logo {
    height: 300px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 2%;
    margin-top: 20px;
}

.fey-intro {
    margin-top: 20px;
    padding-top: 20px;
}

#fey-foot p span {
    position: relative;
    right: 5px;
}

/*---------------Cards*/

.card-img-top {
    height: 200px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.card {
    background-color: rgba(0, 0, 0, 0.5);
    color: floralwhite;
}

/*---------------About us*/