/*---------------General*/

body {
    background-color: rgb(17, 16, 16);
    color: blanchedalmond;
    font-family: 'Jura', serif;
}

/*---------------Header*/

#nav {
    padding: 0px;
}

#nav li {
    background-color: dimgray;
    text-align: center;
}

#nav li span {
    color: floralwhite;
}

#nav li span:hover {
    text-decoration: none;
}

header h1 {
    font-family: 'Jura', sans-serif;
    text-align: center;
}



/*---------------Body*/

#arena-image {
    max-width: 100%;
    max-height: 100%;
}

#facebook-video {
    max-width: 100%;
    max-height: 100%;
}

